.product_container {
    display: flex;
    flex-direction: column;
    padding: 1em;
    background-color: #fff;
    cursor: pointer;
    transition: box-shadow 0.4s ease 0s;
}

.product_container:hover {
    box-shadow: 0px 5px 15px #ccc;
    z-index: 1;
}

.image {
    width: 18em;
    height: 14em;
    background-color: #ccc;
}

.name {
    box-sizing: border-box;
    margin: 0.5em 0;
    width: 14em;
    height: 3em;
    overflow: hidden;
}

.name p {
    font-size: 1.2em;
    font-weight: bold;
    color: #2b2d42;
}

.price {
    text-align: end;
}

.price p {
    font-size: 1.5em;
    font-weight: bold;
    color: #1c920c;
}