.categories {
    width: 20em;
    position: absolute;
    background-color: #2B2D42;
    top: 6em;
    right: 9em;
}

@media (max-width: 700px) {
    .categories {
        right: 5%;
    }
}

@media (max-width: 1480px) {
    .categories {
        right: 1em;
    }
}

.list {
    text-align: center;
}

.item {
    list-style: none;
    padding: 1.2em 0;
    cursor: pointer;
}

.item:hover {
    background-color: #383b56;
}

.item p {
    color: #E7ECEF;
    font-size: 1.2em;
}